<%- include("header", {title: title}) %> 

<h1><%= title %> </h1>
<hr>

<% if (category_list) { %> <%
category_list.forEach(category => { %>
<div class="my-4">
  <h2 class="my-1"><%= category.name %></h2>
</div>
<% }) %> <% } %> <%- include("footer") %>
