<%- include("header", {title: title}) %>
<h1><%- title %></h1>
<p>
  Welcome to Inventory Application, a very basic Express website developed to
  practice CRUD methods.
</p>
<%- include("footer") %>
